*{
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
:root
{
    --text:#ade8f4;
    --bg: #023e8a;
    --bg-light: #0096c7;
    --main:#0096c7;
}

nav{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    height: 10vh;
    background-color: var(--bg-light);
    display: grid;
    align-items: center;
    justify-content: center;
}  
nav > #nav-content{ 
    padding: 0 20px;
    width: 100vw;
    color: var(--text);
    display: flex;
    justify-content: space-between;
}
nav > #nav-content > ul{
    list-style-type: none;
    display: flex;
}

nav > #nav-content > ul > li > a {
    text-decoration: none;
    padding: 10px;
    margin: 0px 5px;
    font-size: 20px;
    color:var(--text);
}
nav>#nav-content>ul>li>a:hover {
    border-radius: 30px;
    background-color: var(--bg);
}
#offer{
    color:#03045e;
    display: grid;
    height: 100vh;
}

#offer-content{
    width: 100%;
    margin: 0px auto;
}

.content-top{
    margin-top: 10vh;
    display: flex;
}
.content-bottom{
    display: flex;
}

.rigth {
    height: 45vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./../images/tech.webp");
    background-color: var(--bg-light);
    width: 100%;
}
.rigth > h1{
    text-align: center;
}
.rigth-content > ul{
    margin-left: 30px;
}
.rigth-content{
    padding: 0 30px;
}

.left{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#about{
    font-size:   calc(19px + 6 * ((100vw - 320px) / 680));;
    background-color: #023e8a;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
#about .content-bottom{
    width: 80vw;
}
.about-content{
    margin-left: 10px;
    border-radius: 30px;
    padding: calc(19px + 6 * ((100vw - 320px) / 680));
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50%;
    background-color: var(--bg-light);
}
.about-content-rigth{
    width: 50%;
    margin-left: 10px;
    border-radius: 30px;
    padding: calc(19px + 6 * ((100vw - 320px) / 680));
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--text);
}

.about-content:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .about-content-rigth:hover {
      transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
footer{
    background-color: var(--text);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 540px) {
    #offer .content-top{
        display: flex;
        flex-direction: column;
    }
    #offer .content-bottom{
        display: flex;
        flex-direction: column;
    }
    #offer   .content-bottom .left{
        display: none;
    }
    #about .content-bottom{ margin-top: 200px;}
}